body {
  margin: 0;
  padding: 0;
  background: #000;
}

p {
  font-size: 12px;
  line-height: 8px;
  text-align: justify;
  background: url(photo_2026-02-12_09-49-33.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

